{% extends "index_base.html" %}

{% block title %}
<title>Image</title>
{% endblock title %}

{% block data_preset %}
<form action="{% url 'image:upload' %}" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{{ message }}
	<p>{{ form.non_field_erros }}</p>
	<p>{{ form.file.label_tag }}</p>
	<p>
		{{ form.file.errors }}
		{{ form.file }}
	</p>
	<label for="config_data">Configure:</label>
	<textarea id="config_data" name="config_data" rows="10" cols="150">
{
	"labelFileName": "pokemon.csv",
	"imageDirName": "images",
	"keyForm": "filename | basename" (default: full path),
	"keyColname": "Name",
	"sep": ",",
	"header": 0
}		
	</textarea>
	<p><input type="submit" name="Upload"></p>
</form>
{% endblock data_preset %}

{% block load_preset %}
<form action='{% url "image:load" %}' method='post' enctype="multipart/form-data">
	{% csrf_token %}
	{% if data_list %}
		<h3>Data selection</h3>
			{% for f in data_list %}
				{% if f.aif_input_file_path %}
					<input type="radio" id={{f.id}} name=index value="{{f.id}}">
					<label for=index>(Analyzed) {{ f.datafile.name }}</label><br>
				{% else %}
					<input type="radio" id={{f.id}} name=index value="{{f.id}}">
					<label for=index>{{ f.datafile.name }}</label><br>
				{% endif %}
			{% endfor %}
		<h3>Required options</h3>
		<p>NOTE: These options will be read as JSON form.</p>
		<label for="config_load">Configure:</label>
		<textarea id="config_load" name="config_load" rows="15" cols="150">
{
	"label_name": "Type1",
	"favorable_classes": ["Grass"],
	"protected_attribute_names": ["Type2"],
	"privileged_classes": [["Poison"]],
	"unprivileged_classes": [["Flying", "Fighting"]],
	"features_to_drop": ["Name"],
	"na_values": [None],
	"categorical_features": []
}
		</textarea><br>
    {% else %}
	    <p>No files.</p>
    {% endif %}
	<p><input type='submit' value='Load'/></p>
</form>
{% endblock load_preset %}